.button {
  text-decoration: none;
  border: none;
  letter-spacing: 1.2px;
  &--standard {
    background: #1e1c1c;
    padding: 0.5rem 1.5rem;
    color: white;
    border-radius: 25px;
    transition: 0.3s;
    &:hover {
      color: white;
      background-color: black;
    }
  }
}
