.polaroidGallery {
  &__container {
    position: relative;
    width: 90%;
    max-width: 10.5em;
    height: 12.25em;
    background-color: #fff;
    font-size: 30px;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 0.5s, margin 0.5s;
    @media (max-width: 500px) {
      max-width: 7.35em;
      height: 8.575em;
    }
    &:nth-child(6n + 1) {
      transform: translate(40px, 30px) rotate(-30deg);
      z-index: 40;
      @media (max-width: 700px) {
        transform: translate(0) rotate(-30deg);
      }
      &:hover {
        transform: scale(1.15) translate(40px, 30px) rotate(0);
        @media (max-width: 700px) {
          transform: scale(1.1) translate(0) rotate(0);
        }
      }
    }
    &:nth-child(6n + 2) {
      transform: translate(30px, 20px) rotate(7deg);
      z-index: 50;
      @media (max-width: 700px) {
        transform: translate(0) rotate(7deg);
      }
      &:hover {
        transform: scale(1.15) translate(30px, 20px) rotate(0);
        @media (max-width: 700px) {
          transform: scale(1.1) translate(0) rotate(0);
        }
      }
    }
    &:nth-child(6n + 3) {
      transform: translate(-20px, 20px) rotate(20deg);
      z-index: 40;
      @media (max-width: 700px) {
        transform: translate(0) rotate(20deg);
      }
      &:hover {
        transform: scale(1.15) translate(-20px, 20px) rotate(0);
        @media (max-width: 700px) {
          transform: scale(1.1) translate(0) rotate(0);
        }
      }
    }
    &:nth-child(6n + 4) {
      transform: translate(40px, -10px) rotate(10deg);
      z-index: 30;
      @media (max-width: 700px) {
        transform: translate(0) rotate(10deg);
      }
      &:hover {
        transform: scale(1.15) translate(40px, -10px) rotate(0);
        @media (max-width: 700px) {
          transform: scale(1.1) translate(0) rotate(0);
        }
      }
    }
    &:nth-child(6n + 5) {
      transform: translate(30px, -20px) rotate(-20deg);
      z-index: 20;
      @media (max-width: 700px) {
        transform: translate(0) rotate(-20deg);
      }
      &:hover {
        transform: scale(1.15) translate(30px, -20px) rotate(0);
        @media (max-width: 700px) {
          transform: scale(1.1) translate(0) rotate(0);
        }
      }
    }
    &:nth-child(6n + 6) {
      transform: translate(30px, -40px) rotate(-10deg);
      z-index: 40;
      @media (max-width: 700px) {
        transform: translate(0) rotate(-10deg);
      }
      &:hover {
        transform: scale(1.15) translate(30px, -40px) rotate(0);
        @media (max-width: 700px) {
          transform: scale(1.1) translate(0) rotate(0);
        }
      }
    }
  }
}
.polaroidGallery__container:hover {
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.4);
  z-index: 100;
}
@media screen and (max-width: 700px) {
  .polaroidGallery__container:hover {
    margin: 0 25px;
  }
}
.polaroidGallery__container:hover .polaroidGallery__photo::before {
  transform: scale(1);
}
.polaroidGallery__container.active,
.polaroidGallery__container.active:hover {
  transform: rotate(0) scale(1.25);
}
@media screen and (max-width: 500px) {
  .polaroidGallery__container.active,
  .polaroidGallery__container.active:hover {
    transform: rotate(0) scale(1.15);
  }
}
.polaroidGallery__container.active {
  position: relative;
}
.polaroidGallery__container.active .polaroidGallery__photo {
  cursor: default;
}
.polaroidGallery__container.active .polaroidGallery__photo::before {
  display: none;
}
.polaroidGallery__photo {
  position: relative;
  width: 9.25em;
  height: 9.25em;
  margin: 0.625em auto 0;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .polaroidGallery__photo {
    width: 6.475em;
    height: 6.475em;
    margin: 0.4375em auto 0;
  }
}
.polaroidGallery__photo::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  transform: scale(0);
  transition: all 0.25s;
}
.polaroidGallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.polaroidGallery__caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.375em;
}
@media screen and (max-width: 500px) {
  .polaroidGallery__caption {
    height: 1.6625em;
  }
}
.polaroidGallery__text {
  color: #222;
  font-size: 1em;
  font-family: "Nanum Pen Script", cursive;
}
.polaroidGallery-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  z-index: 10000;
  transition: opacity 0.5s;
  top: 0;
}
.polaroidGallery-overlay.active {
  opacity: 1;
}
