@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap&subset=latin-ext");
//font-family: 'Poiret One', cursive;
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//Happy rems!
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
